<?xml version="1.0"?>

<model>
    <name>celestial_sphere</name>
    <version>1.0</version>
    <sdf version="1.6">celestial_sphere.sdf</sdf>
    <author>
        <name>Andrey Stepanov</name>
        <email>standmit@yandex.ru</email>
    </author>
    <maintainer email="standmit@yandex.ru">Andrey Stepanov</maintainer>
    <description>
        Celestial sphere model. Just a sphere. Adjust radius by yourself
    </description>
</model>